@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Books

<div class="card bg-light border-dark text-center" style="width: 50rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title by @Model.AuthorFirst @Model.AuthorMiddle @Model.AuthorLast (@Model.NumberOfPages pgs)</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Publisher, #@Model.ISBN</h6>
        <p class="card-text">@Model.Classification, @Model.Category</p>
        <p class="card-footer bg-transparent">$@Model.Price</p>
    </div>
    <form id="@Model.BookId" asp-page="/Buy" method="post">
        <input type="hidden" asp-for="BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            <button type="submit" class="btn-secondary btn-sm pull-right" style="float:right">Add to Cart</button>
        </span>
    </form>
</div>
